/* LEADERBOARD */

#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.025);
}

ul {
  margin-bottom: 0.5rem;
  color: #56a5eb;
  width: 60%;
  font-size: 2rem;
}

li{
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  border: 0.2rem solid rgb(86, 165, 235, 0.25);
  margin-bottom: 5px;
  background-color: white;
}
.spanClass {
  text-align: center;
  width: 50%;
  color: #1189f1;
}